<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453139369169-cn9ovc3cgj856ouegql4in5998o2762l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453139369169-cn9ovc3cgj856ouegql4in5998o2762l</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ziqwybJKsGH9RcZzGLIM8xbY-CxNt8w</string>
	<key>GCM_SENDER_ID</key>
	<string>453139369169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmando</string>
	<key>PROJECT_ID</key>
	<string>alarmando-b5472</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmando-b5472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453139369169:ios:94f15d0e2c7581f2cf09f0</string>
</dict>
</plist>